openkore_manager/bin/Debug/Bots/**/
openkore_manager/bin/Debug/scripts
openkore_manager/bin/Debug/lib
openkore_manager/bin/Debug/*.dll
openkore_manager/bin/Debug/*.xml
openkore_manager/bin/Debug/*.pdb
openkore_manager/bin/Debug/*.exe
openkore_manager/bin/Debug/*.config
openkore_manager/bin/Debug/openkore
openkore_manager/bin/Release
openkore_manager/obj
.vs/openkore_manager/
